:root {
  --background-color: #eaecf0;
  --color-text-secondary: #354153;
  --color-text-main: #0d1421;
  --color-back-button: #f2f4f7;
  --color-text-prim: #667085;

  --font-family-base: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.wrapper-header-main {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  min-width: 230px;
  flex-shrink: 1;
  
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  border: 1px solid var(--background-color);
  
}

.sidebar-header {
  flex-grow: 1;
}

.brand {
  display: flex;
  align-items: center;
  margin: 10px;
  padding-bottom: 15px;
}

.brand svg {
  width: 32px;
  height: 32px;
  color: var(--color-text-main);
}

.brand h1 {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-text-secondary);
  padding-left: 10px;
}

.side-header-container {
  padding-bottom: 25px;
}

.side-header-container input {
  border: 1px solid var(--background-color);
  border-radius: 8px;
  padding: 10px;
  margin-left: 10px;
  
}

.sidebar-nav ul {
  list-style: none;
  cursor: pointer;
}

.sidebar-nav li:first-child {
  border: 1px solid var(--color-back-button);
  border-radius: 8px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 20px;

  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-main);
  background-color: var(--color-back-button);
}

.sidebar-nav li:not(:first-child) {
  margin-left: 30px;
  padding: 10px;

  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-secondary);
}

.footer-container {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-prim);

  padding: 10px;
}

.site-main {
  margin: 20px;
}
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.site-header-container h1 {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: var(--color-text-main);
}

.site-header-container button {
  border: 1px solid var(--background-color);
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;

  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-text-secondary);
}

.card-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)) ;
    gap: 32px;
}

.card{
    border: 1px solid var(--background-color);
    border-radius: 8px;
    
    
}

.card-title{
    display: flex;
    justify-content: space-between;
    margin: 10px;

    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-prim);
}

.card-content{
    padding: 0 20px;
}

.card-content img{
    max-width: 100%;
    height: auto;  
}

.card-content h2{
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: var(--color-text-main);
    margin: 15px 0;
}

.card-content p{
    font-family: var(--font-family-base);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--color-text-secondary);
}
